.img-logo{
    width: 15%;
    height: auto;
    margin: 0px 20px 0px 20px;
 }
 body {
     font-family: 'Poppins';
     scroll-behavior: smooth;
     justify-content: center;
     overflow-x: hidden;
   }
 .navbar-form{
    margin-left: 30px;
 }
 .navbar {
     background-color: #3498db;
 }
 .container-detail{
    margin: 60px;
 }