.img-logo{
   width: 15%;
   height: auto;
   margin: 0px 20px 0px 20px;
}
body {
    font-family: 'Poppins';
    scroll-behavior: smooth;
    justify-content: center;
    overflow-x: hidden;
  }
.btn-lan{
    background-color:blue;
    color: white;
    width: 100px;
    height: 30px;
    text-align: center;
    justify-content: center;
    border: none;
    border-radius: 5px; 
    
}
.btn-lan:hover{
    background-color:white;
    color: blue;
}
.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #3498db;
}
.btn-group {
    margin-right: 50px;
}
.slider{
    position: relative;
    overflow: hidden;
    border-radius: 100%;
    margin-top:30px ;
    margin-right: 100px;
}
.slide-img{
    width: 400px;
    height: 400px;
    display: none;
}
img.displaySlide{
    display: block;
    animation-name: fade;
    animation-duration: 1.5s;
}

.slide_container{
    display: flex;
    justify-content: space-between;
}
.text_content{
    width: 50%;
}
.caption{
    margin: 10%;
    text-align: center;
    justify-content: center;
  
}
.caption h2{
    font-size:70px;
    font-weight: bold;
    margin-left: 10%;
    color: #4c40ee;;
    opacity: 0;
    transform: translateY(50px);
    animation: slideUp 2s ease-out forwards;
    animation-delay: 1s;
}
.caption p{
    opacity: 0;
    transform: translateY(50px);
    animation: slideUp 2s ease-out forwards;
    animation-delay: 1s;
    margin-top: 30px;
    font-size: 18px;
    margin-left: 20px;
    color: rgb(37, 37, 37);
}
@keyframes slideUp {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0); 
    }
}
.info_container {
    background-color: #ffffff;
    height: 70vh;
    border-bottom-right-radius: 95%;
    background: linear-gradient(to top, #819dbd, #ffffff);
   
}
span{
    color: #1380ec;
    font-weight: bold;
}

ol{
    padding-top: 15px;
}
.container-grid{
    margin-left: 20px;
    display: flex;
    justify-content: space-between;
}
li{
    list-style-type: none;
}
.image img{
    width: 300px;
    margin-left: 100px;
}
.text_containt{
    width: 50%;
    margin-right: 100px;
}
.text_containt p{
    font-size: 30px;
    font-weight: medium;
}
button{
    width: 130px;
    height: 50px;
    border-radius: 20px;
    border: none;
    background-color: rgb(75, 75, 233);
    color: white;
}
.contact_container{
    text-align: center;
}
footer{
    width: 100%;
    height: 120px;
    background-color:#3498db;
    margin-top: 50px;
    padding: 20px 0;
    text-align: center;
    color: white;
}

footer .info {
    display: flex;
    justify-content: center;
    gap: 20px;
}
footer .info a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px; 
    border-radius: 50%;
    background-color: black; 
    text-decoration: none;
}





